<html>

<body>
    <table>
        <thead>
            <tr>
                <th>Buyer Name</th>
                <th>Buyer Mobile</th>
                <th>Car Model</th>
                <th>Brand</th>
                <th>Category</th>
                <th>Year</th>
                <th>Price</th>
                <th>Commission</th>
                <th>Net Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ bd.name }}</td>
                <td>{{ bd.mobile }}</td>
                <td>{{ bd.car_model }}</td>
                <td>{{ bd.brand }}</td>
                <td>{{ bd.category }}</td>
                <td>{{ bd.year }}</td>
                <td>{{ bd.price }}</td>
                <td>{{ bd.commission }}</td>
                <td>{{ bd.net_amount }}</td>
            </tr>
        </tbody>
    </table>
</body>

</html>